html, body {
    margin:0px;
    height:100%;
    background:#000000;
    padding-top: 60px;
    padding-bottom: 40px;
    font-size: 18px;
}

.fixed-header, .fixed-footer{
    width: 100%;
    position: fixed;        
    padding: 30px 0;
    color: #fff;
    background:#e20001;
}

.fixed-header{
    top: 0;
}

.fixed-footer{
    bottom: 0;
}

block, li {
  color: #fff;
  display: block;
  font: "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  text-align: center;
}
  
section {
  float: left;
}

.major-section {
  width: 40%;
}

.minor-section {
  width: 30%;
}

.content-display {
  display: block;
  margin: auto;
}

.search-bar {
  margin: auto;
  padding: 3% 20%;
}

#like-button {
  margin-left: 8.5px;
}

#bookmarks {
  margin-right: 40px;
}
  
.info-button {
  white-space: normal;
}